{% extends "rest_framework/base.html" %}

{% block navbar %}
<nav class="navbar navbar-static-top {% block bootstrap_navbar_variant %}navbar-inverse{% endblock %}"
     role="navigation" aria-label="navbar">
  <div class="container">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <span>
      {% block branding %}
    <a class='navbar-brand' rel="nofollow" href='/api'>VMA REST API</a>
    {% endblock %}
    </span>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
        <li class="hospital"><a href="{% url 'api:hospitals' %}">Hospitals</a></li>
        <li class="test"><a href="{% url 'api:tests' %}">Diagnostic Test</a></li>
        <li class="package"><a href="{% url 'api:packages' %}">Packages</a></li>
  </ul>
  <form class="navbar-form navbar-left" method="get">
        <div class="form-group">
          <input type="text" name="q" value="{{ request.GET.q }}" class="form-control" placeholder="Search">
        </div>
        <button class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
      </form>
    <ul class="nav navbar-nav pull-right">
      {% block userlinks %}
        {% if user.is_authenticated %}
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.get_full_name }} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'accounts:patient' username=user.username %}">Profile</a></li>
                <li><a href="{% url 'accounts:update_patient' %}">Account Setting</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
              </ul>
          </li>
        {% endif %}
      {% endblock %}
    </ul>
  </div>
  </div>
</nav>
{% endblock %}