{% extends 'base.html' %}
{% block title %}Welcome to virtual medical aid{% endblock %}
{% block stylesheet %}
    <style>
    .s-h {
    border: 2px solid #e6eef1;
    height: 250px;
}
    .s-h h5, .s-h p {
    padding: 10px;
}
    .s-h p.grey-text.mt-2 {
    padding-top: 0px;
    padding-bottom: 0px;
}
    </style>
{% endblock %}
{% block content %}
  {% load static %}
  <!--Carousel Wrapper-->
  <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-1z" data-slide-to="1"></li>
      <li data-target="#carousel-example-1z" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <!--First slide-->
      <div class="carousel-item active">
        <div class="view" style="background-image: url('{% static "image/banner1.jpg" %}'); background-repeat: no-repeat; background-size: cover;">
          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4">
              <strong>Search your diagnostic test</strong>
              </h1>
              <p class="mb-4 d-none d-md-block">
                <strong>The most comprehensive tutorial for the Bootstrap 4. Loved by over 500 000 users. Video and written versions
                available. Create your own, stunning website.</strong>
              </p>
              <form action="{% url 'medical:search' %}" method="get">
                <input type="text" name="q" placeholder="Search your test here" class="input-lg form-control" style="background: transparent; color: white; width: 50%; margin: 0 auto; height: 60px;">
              </form>
            </div>
            <!-- Content -->
          </div>
          <!-- Mask & flexbox options-->
        </div>
      </div>
      <!--/First slide-->
      <!--Second slide-->
      <div class="carousel-item">
        <div class="view" style="background-image: url('{% static "image/banner2.jpg" %}'); background-repeat: no-repeat; background-size: cover;">
          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4">
              <strong>All test in one place</strong>
              </h1>
              <p class="mb-4 d-none d-md-block">
                <strong>The most comprehensive tutorial for the Bootstrap 4. Loved by over 500 000 users. Video and written versions
                available. Create your own, stunning website.</strong>
              </p>
              <form action="{% url 'medical:search' %}" method="get">
                <input type="text" name="q" placeholder="Search your test here" class="input-lg form-control" style="background: transparent; color: white; width: 50%; margin: 0 auto; height: 60px;">
              </form>
            </div>
            <!-- Content -->
          </div>
          <!-- Mask & flexbox options-->
        </div>
      </div>
      <!--/Second slide-->
      <!--Third slide-->
      <div class="carousel-item">
        <div class="view" style="background-image: url('{% static "image/banner3.jpg" %}'); background-repeat: no-repeat; background-size: cover;">
          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4">
              <strong>Search a test package</strong>
              </h1>
              <p class="mb-4 d-none d-md-block">
                <strong>The most comprehensive tutorial for the Bootstrap 4. Loved by over 500 000 users. Video and written versions
                available. Create your own, stunning website.</strong>
              </p>
              <form action="{% url 'medical:search' %}" method="get">
                <input type="text" name="q" placeholder="Search your test here" class="input-lg form-control" style="background: transparent; color: white; width: 50%; margin: 0 auto; height: 60px;">
              </form>
            </div>
            <!-- Content -->
          </div>
          <!-- Mask & flexbox options-->
        </div>
      </div>
      <!--/Third slide-->
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>
  <!--/.Carousel Wrapper-->
  <!--Main layout-->
  <main>
    <div class="container">
      <!--Section: Main info-->
      <section class="mt-5 wow fadeIn">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-6 mb-4">
            <img src="{% static 'image/intro.jpg' %}" class="img-fluid z-depth-1-half" alt="">
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-md-6 mb-4">
            <!-- Main heading -->
            <h3 class="h3 mb-3">Virtual Medical Assistant</h3>
            <p>Here you will get all types of medical services (
            <strong>VMA</strong> ).</p>
            <p>Read details below to learn more about VMA.</p>
            <!-- Main heading -->
            <hr>
            <p>
              <strong>{{ test }}+</strong> Medical tests,
              <strong>{{ package }}+</strong> Test packages over
              <strong>{{ hospital.count }}</strong> Medical and diagnostic center.
              <strong>Order your test and keep your body safe.</strong>
            </p>
            <!-- CTA -->
            <a target="_blank" href="{% url 'medical:all_test' %}" class="btn btn-grey btn-md">Explore tests
            </a>
            <a target="_blank" href="{% url 'medical:test_packages' %}" class="btn btn-grey btn-md">Explore packages
            </a>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!--Section: Main info-->
      <hr class="my-5">
      <!--Section: Main features & Quick Start-->
      <section>
        <h3 class="h3 text-center mb-5">About VMA</h3>
        <!--Grid row-->
        <div class="row wow fadeIn">
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 px-4">
            <!--First row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fa fa-user-md fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">A diagnostic test search engine</h5>
                <p class="grey-text">Search your diagnostic test among 400+ test from 40+ hospital and diagnostic center whole over the country.</p>
              </div>
            </div>
            <!--/First row-->
            <div style="height:30px"></div>
            <!--Second row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fa fa-first-order fa-2x blue-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Order for test online</h5>
                <p class="grey-text">Select a test for order. Search result give you a test in different hospital. Sort them through test delivery duration, price.</p>
              </div>
            </div>
            <!--/Second row-->
            <div style="height:30px"></div>
            <!--Third row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fa fa-credit-card fa-2x cyan-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Pay the bill</h5>
                <p class="grey-text">After successfully completion of a test order, VMA make sure that patient pay their bill to respective hospital</p>
              </div>
            </div>
            <!--/Third row-->
          </div>
          <!--/Grid column-->
          <!--Grid column-->
          <div class="col-lg-6 col-md-12">
            <p class="h5 text-center mb-4">Watch our "5 min Quick Start" tutorial</p>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0_2JWdIQlhw" allowfullscreen></iframe>
            </div>
          </div>
          <!--/Grid column-->
        </div>
        <!--/Grid row-->
      </section>
      <!--Section: Main features & Quick Start-->
      <hr class="my-5">
      <!--Section: Be a member-->
      <section>
        <h2 class="my-5 h3 text-center">Be a member?</h2>
        <!--First row-->
        <div class="row features-small mb-5 mt-3 wow fadeIn">
          <!--First column-->
          <div class="col-md-4">
            <!--First row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Order for test online</h6>
                <p class="grey-text">Our license is user-friendly. Feel free to use MDB for both private as well as commercial projects.
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/First row-->
            <!--Second row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Get notification</h6>
                <p class="grey-text">An impressive collection of flexible components allows you to develop any project.
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Second row-->
            <!--Third row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">200+ test over 40 diagnostic/hospitals</h6>
                <p class="grey-text">Hundreds of useful, scalable, vector icons at your disposal.</p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Third row-->
            <!--Fourth row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Get a health card</h6>
                <p class="grey-text">It doesn't matter whether your project will be displayed on desktop, laptop, tablet or mobile phone. MDB
                looks great on each screen.</p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Fourth row-->
          </div>
          <!--/First column-->
          <!--Second column-->
          <div class="col-md-4 flex-center">
            <img src="{% static 'image/membershipcard.jpg' %}" alt="MDB Magazine Template displayed on iPhone" class="z-depth-0 img-fluid">
          </div>
          <!--/Second column-->
          <!--Third column-->
          <div class="col-md-4 mt-2">
            <!--First row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">70+ CSS animations</h6>
                <p class="grey-text">Neat and easy to use animations, which will increase the interactivity of your project and delight your visitors.
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/First row-->
            <!--Second row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Plenty of useful templates</h6>
                <p class="grey-text">Need inspiration? Use one of our predefined templates for free.</p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Second row-->
            <!--Third row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Easy installation</h6>
                <p class="grey-text">5 minutes, a few clicks and... done. You will be surprised at how easy it is.
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Third row-->
            <!--Fourth row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Easy to use and customize</h6>
                <p class="grey-text">Using MDB is straightforward and pleasant. Components flexibility allows you deep customization. You will
                easily adjust each component to suit your needs.</p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Fourth row-->
          </div>
          <!--/Third column-->
        </div>
        <!--/First row-->
      </section>
      <!--Section: Not enough-->
      <hr class="mb-5">
      <!--Section: More-->
      <section>
        <!--First row-->
        <div class="row features-small mt-5 wow fadeIn">
          {% for h in hospital %}
            <!--Grid column-->
            <div class="col-xl-4 col-md-6 col-sm-6 col-12">
              <div class="col-12 mb-2 pl-3">
                <div class="s-h">
                    <h5 class="feature-title font-bold mb-1 rgba-green-light"><a href="{% url 'medical:hospital_details' id=h.id %}">{{ h.name.get_full_name }}</a></h5>
                    <p class="grey-text mt-2">
                      <i class="fa fa-envelope"></i>: {{ h.email }}<br>
                      <i class="fa fa-phone"></i>: {{ h.phone }}<br>
                      <i class="fa fa-map-marker"></i>: {{ h.address }}
                    </p>
                    {#                      <a href="" class="mdl-button mdl-js-button mdl-js-ripple-effect">View details</a>#}
                    <div class="s-view text-center"><a href="{% url 'medical:hospital_details' id=h.id %}" class="btn btn-default">View details</a></div>
                </div>
              </div>
            </div>
            <!--/Grid column-->
          {% endfor %}
        </div>
        <!--/First row-->
        <h2 class="my-5 h3 text-center"><a href="{% url 'medical:all_hospitals' %}" class="btn btn-dark">...and more</a></h2>
      </section>
      <!--Section: More-->
    </div>
  </main>
  <!--Main layout-->
{% endblock %}